* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    display: flex;
    font-family: Open Sans,Trebuchet MS,Arimo,Tahoma,Arial,sans;
}
.lun {
    width: 50%;
    height: 800px;
    color: white;
}
.background {
     background-image: url(main.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     width: 50%;
     height: 100%;
     position: fixed;
     background-position: center;
}
.header {
    display: flex;
   
    justify-content: space-between;
    padding: 20px;
    font-size: 14px;
}
.logo {
    margin-top: 200px;
    display: flex;
    justify-content: center;
}
h2 {
    text-align: center;
    font-size: 25px;
    line-height: 50px;
}
.menu {
    display: flex;
    padding-top: 30px;
    padding-left: 70px;
    padding-right: 70px;
}
#spisok  {
    height: 50px;
    width: 200px;
    border-radius: none;
     padding-left: 10px;
}
input {
    height: 50px;
    width: 250px;
    border-radius: none;
    padding-left: 10px;
}
option {
    height: 50px;
    padding: 15px;
}
.button {
    margin-left: 10px;
    height: 50px;
    width: 120px;
    padding: 10px;
    background-color: #f7a102;
    color: white;
    
}
.chuse {
    font-size: 14px;
    margin-left: 280px;
}

.lun a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline
}
.footer-lun {
    color: white;
    margin-top: 300px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: 15px;
}
.footer-lun .contact{
    display: flex;
    width: 60%;
    justify-content: space-between;
}
.lun .fb {
    width: 20px;
    height: 20px;
}

.content {
    width: 50%;
    background-color: #d9d9db;
    padding: 20px;
    position: relative;
}
.postroiki, .all-property {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nedvij, .property {
    width: 49%;
    margin-bottom: 15px;
    background-color: white;
    padding: 20px;
}
.content li {
    list-style: none;
    color: #7fa3c6;
    line-height: 25px;
}
.content h2 {
    font-size: 20px;
    font-family: Andale Mono, monospace;
}
span p {
    margin-left: 0px;
    font-size: 18px;
    margin-bottom: 25px;
    margin-top: 5px;
}
.nowostroi {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.jk {
    width: 32%;
     background-color: white;
     margin-bottom: 15px;
}
.jk img {
    width: 100%;  
}
.jk p {
    font-size: 16px;
     margin-left: 10px;
}
.jk span{
   margin-left: 5px;
   line-height: 10px;
   
}
.jk .kiev {
    color: gray;
   font-size: 13px;
}
.content a {
    list-style: none;
    color: #7fa3c6;
    line-height: 25px;
    text-decoration: none;
}
.content a:hover {
    text-decoration: underline;
}
.block {
    display: flex;
    margin-top: 40px;

}
.block li {
    margin-left: 10px;
}
.footer {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
}
.footer img {
    width: 20px;
    height: 15px;
    margin-right: 10px;
}
.ukraine {
    display: flex;
    margin-right: 10px;
}
.f {
    color: #b7b9bc;
}
.help {
     background-color: #f7a102;
     width: 130px;
     padding: 10px;
     border-radius: 20px;
     color: white;
     font-size: 15px;
     position: fixed;
     bottom: 5px;
     right: 10px;
}