* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    background-color: #e8e9ea;
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 0.7em;
    font-weight: 400;
    letter-spacing: 0.25em;
    color: #5a5b5b;
     line-height: 25px;
     position: relative;
}
.header {
background-color: white;
padding: 30px;
display: flex;
justify-content: space-between;

}
.menu{
    width: 50%;
    display: flex;
    flex-direction: row;
   justify-content: space-between;
}
.menu li {
     list-style: none;
     border-right: 1px solid #a4a4a5;
     padding-right: 20px;
     
}
a {
    text-decoration: none;
    color: #5a5b5b;
}
.first>a {
    color: black;
}
 a:hover{
    color: #a0d5d6;
}
/*хедер закончился*/
.main {
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}
.bar {
    width: 30%;
    padding: 20px;
}
.name h1 {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    letter-spacing: 0.35em;
    line-height: 50px;
    color: black;
}
.name p {
     line-height: 25px;
     letter-spacing: 0.35em;
}
.name a {
    border-bottom: 1px dashed #a4a4a5;
}
.name {
    border-bottom: 1px solid #d9dbdb;
    padding-bottom: 50px;
    margin-bottom: 50px;
}
.name img {
    border-radius: 50%;
}
/*block*/
.block{
    background-color: white;
    border: 1px solid #d9dbdb;
    margin-bottom: 40px;
}
.block>img {
    width: 100%;
}
.opisanie {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.opisanie img {
    height: 100%;
    border-radius: 50%;
}
/*block конец*/
.min-block {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
     border-bottom: 1px solid #d9dbdb;
}
.min-block img {
    height: 70px;
    width: 90px;
    margin-right: 10px;
}
.text-min-block p {
    font-size: 9px;
}
.first1 {
    border-top: 1px solid #d9dbdb;
} 
.about p{
    margin-bottom: 50px;
}
.about {
    margin-top: 50px;
    padding-bottom: 60px;
    border-bottom: 1px solid #d9dbdb;
}
.button2 {
    
      border: 1px solid #d9dbdb;
      padding: 20px;
       font-size: 10px;
}
/*info*/
.info {
    width: 75%;
    padding: 20px;
    
}
.big-block {
    width: 100%;
    background-color: white;
    padding: 50px;
    border: 1px solid #d9dbdb;
     margin-bottom: 40px;
      
}
.magna {
    display: flex;
    justify-content: space-between;

}
.magna-dait {
  width: 25%;
}
.magna-text {
    width: 65%;
}
h1 {
    color: black;
    margin-bottom: 15px;
    line-height: 50px;
}
.magna-dait {
   
}
.magna-dait img{
    border-radius: 50%;
    height: 60%;
}
.pic {
    width: 100%;
    border-top: 1px solid #d9dbdb;
    padding-top: 50px;

    margin-bottom: 50px;
}
.button {
   margin-top: 50px;
    padding: 20px;
    background-color: white;
    font-size: 13px;
    border: 1px solid #d9dbdb;
}
.big-block p {
    margin-bottom: 50px;
}
.button3 {
    background-color: #e8e9ea;
}
/*vipadaika*/
.list {
   visibility: hidden;
    position: fixed;
    opacity: 0;
    transition: 1s;
    right: 0px;
    top: 0px;
    
}
ul li:hover > .list{
   visibility: visible;
    opacity: 1;
}
.menu2 li {
    list-style: none;
}
.list {
    padding: 50px;
    background-color: white;
    height: 100%;
}
.list li {
    padding: 10px;

    line-height: 40px;
}
.list p {
    font-size: 9px;
}
.last {
       border-bottom: 1px solid #d9dbdb;

}
.button4 {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 40px;
    width: 100%;
}
.last2 {
    margin-bottom: 40px;
}
.last3 {
    display: flex;
    justify-content: center;
}
/*adapt*/
@media (min-width:992px) and (max-width:1199px){
    .name h1 {
        font-size: 25px;
}
.main {
    padding: 20px;
}
.menu {
    width: 70%;
}
h1 {
    margin-bottom: 15px;
    line-height: 40px;
    font-size: 20px;
}
h3 {
    font-size: 11px;
}
.magna-dait {
    width: 29%;
}
}

@media (min-width: 768px) and (max-width:991px){
.main {
    padding: 10px;
}
.name h1 {
    font-size: 20px;
}
h1{
    font-size: 15px;
    line-height: 35px;
}
h3 {
    font-size: 10px;
}
body {
    font-size: 0.6em;
}
.big-block {
    padding: 35px;

}
.magna-dait {
    width: 30%;
}
.min-block {
    display: block;
}
.min-block img{
    height: 57px;
    width: 60px;
    
}
.menu {
    width: 82%;
}
}

@media (max-width: 767px) and (min-width: 480px){
    .main {
        flex-direction: column;
        padding: 20px;
    }
    .bar {
        width: 100%;
    }
    .info {
        width: 100%;
    }
    h1 {
        line-height: 30px;
    font-size: 12px;
    }
    .big-block {
        padding: 30px;
    }
    .menu {
        width: 77%;
        flex-wrap: wrap;
        font-size: 8px;
    }
    .list {
        width: 100%;
    }

}
@media (max-width: 479px) {
    .name h1 {
        font-size: 18px;
    }

    .main {
        flex-direction: column;
        padding: 5px;
    }
    .bar {
        width: 100%;
      
    }
    .info {
        width: 100%;
    }
    h1 {
        line-height: 30px;
    font-size: 12px;
    }
    .big-block {
        padding: 20px;
    }
    .menu {
        width: 35%;
        flex-wrap: wrap;
        font-size: 8px;
    }
    .list {
        width: 100%;
    }
    .menu li{
        border: none;
    }
    h3 {
        font-size: 10px;
    }
    .text-min-block p {
    font-size: 8px;
}
.min-block {
    display: block;
}
.min-block img{
    height: 57px;
    width: 60px;
    
}
.magna {
    flex-direction: column;
}
.info {
    padding: 0px;
}
.magna-text {
    width: 100%;
}
.magna-dait {
    width: 100%;
}
body {
    font-size: 0.6em;
}
.big-block p {
    margin-bottom: 20px;
}
.button{
    font-size: 7px;
}
.button3 {
    padding: 18px;
}
.list {
    padding: 10px;
}
.list li {
    line-height: 30px;
}

}
