* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
   /* width: 1920px;*/
   width: 100%;
    background-color: white;
    font-style: Bold;
    color: #646464;
}
.wrapper {
    width: 100%;
}
.header {
    display: flex;
    padding-left: 320px;
    padding-right: 320px;
    justify-content: space-between;
    font-style: Bold;
    color: #646464;
    font-size: 21px;
    width: 100%;
    height: 145px;
    align-items: center;
   
}

.email_phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 442px;
}
.block1 {
    border-top: 1px solid #f2f2f2;
     box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 100%;
    display: flex;
    justify-content: space-between;
   position: relative;
}
.text {
    padding-top: 220px;
    padding-left: 323px;
    display: flex;
    flex-direction: column;
    position: absolute;
    
}
.block1 img{
      margin-left: 858px;
   
}
.stroka1 {
    font-size: 74.4px;
    color: #717171;
}
.stroka2 {
    font-size: 59.27px;
    color: #13bbcb;
}
.stroka3 {
    font-size: 127.57px;
    color: #717171;
}
.vid {
    display: flex;
    justify-content: space-between;
    font-size: 29.83px;
    color: #13bbcb;
}
.p1 {
     border-right: 1px solid #717171;
     padding-right: 18px;
}
button {
    background-color: #ecb803;
    height: 100px;
    width: 330px;
    color: #282828;
    font-style: semibold;
    font-size: 45.14px;
    margin-top: 135px;
    border-radius: 20px 0px 20px 0px;
}
.block2 {
    display: flex;
    justify-content: space-between;
    padding-right: 335px;
  
    
}
.avia {
    width: 365px;
}
.punkts {
      justify-content: space-between;
      width: 960px;
      padding-top: 175px;
      padding-bottom: 140px;
      font-size: 24px;
      color: #646464;
}
.perevozka {
  display: flex;
  justify-content: space-around;
  margin-bottom: 120px;
}
.doc-box {
    display: flex;
    justify-content: space-around;
}
.avto {
    width: 365px;
}
.doc {
    width: 365px;
}
.box {
    width: 365px;
}
h3 {
    font-family: Semibold;
    font-size: 36px;
    color: #3caa90;
    margin-bottom: 40px;
}
.block3 {
    width: 100%;
    padding-right: 335px;
    display: flex;
    justify-content: space-between;
}
.info {
    padding-top: 170px;
    padding-bottom: 125px;
    font-size: 24px;
   
}
.zagol {
    font-size: 24px;
    color: #3caa90;
    margin-bottom: 110px;
}

.ponimaem {
    margin-top: 115px;
    display: flex;
}
.info img {
    margin-right: 24px;
}
a {
    color: #646464;
}
.block4 {
    display: flex;
    width: 100%;
    padding-right: 335px;
}
.foto{
    margin-top: 180px;
    margin-bottom: 238px;
}
.foto1 {
    display: flex;
    
}
.foto7 {
    width: 101%;
}
.wrapperblock5 {
     width: 100%;
     display: flex;
}
.block5 {
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
  /*  padding-right: 335px; */
    position: relative;
}
.otziv {
    margin-left: 320px;
   height: 345px; 
}
.otzivi {
     display: flex;
     margin: 0 auto;
}
.otziv1 {
    margin-top: 168px;
    /*margin-left: 225px;*/
    margin-right: 78px;
    margin-bottom: 475px;
}
.kate {
    border-radius: 50%;
}
.otziv1-niz {
    display: flex;
}
.otziv1-niz img {
margin-right: 25px;
}
.otziv2 {
    margin-top: 305px;
}
.otziv2-niz {
    display: flex;
}
.otziv2-niz img {
margin-right: 25px;
}
.bird {
    position: absolute;
    top: 650px;
}
.button-otziv {
    font-size: 27px;
    width: 265px;
    height: 70px;
    position: absolute;
    bottom: 120px;
    right: 425px;
}
.block6 {
    display: flex;
    padding-right: 310px;
}
.dannie {
    display: flex;
    flex-direction: column;
    margin-top: 190px;
}
form {
    
    font-family: regular;
    font-size: 16.17px;
}
.forma {
    display: flex;
}
.dannie h3 {
    font-family: regular;
    font-size: 16.17px;
}
li {
    list-style: none;
    margin-bottom: 50px;
}
.block6 input {
    border: none;
  

}
li {
    border-bottom: 1px solid #e6e6e6;
}
ul {
    width: 400px;
}
.first {
    margin-right: 170px;
}
.dop {
    width: 960px;
}
.block6-2 {
    margin-left: 75px;
}
.submit {
    font-size: 27px;
    width: 265px;
    height: 70px;
    background-color: #ecb803;
    color: #282828;
    font-style: semibold;
    border-radius: 20px 0px 20px 0px;
    margin-top: 102px;
 
}
.block7 {
    padding-left: 213px;
    display: flex;
    width: 100%;
    padding-right: 335px;
    justify-content: space-between;

}
.kontakts {
    margin-top: 83px;
    height: 100%;
}
.sviaz {
    padding-top: 186px;
}
.sviaz input {
    height: 55px;
    width: 317px;
    margin-bottom: 30px;
}

.submit2 {
    font-size: 27px;
    width: 195px;
    height: 60px;
    background-color: #ecb803;
    color: #282828;
    font-style: semibold;
    border-radius: 20px 0px 20px 0px;
    margin-top: 33px;
    margin-bottom: 65px;
}
.soc {
    margin-right: 50px;
}
.contact{
    margin-bottom: 35px;
}
.phones {
    padding-top: 230px;
    padding-bottom: 315px;
    font-size: 24px;
}
.dannie2 h3{
    font-family: regular;
    font-size: 16.17px;
}
.footer {
    margin-top: 53px;
}
textarea {
    width: 315px;
}
/*adapt*/
@media (min-width: 992px) and (max-width: 1199px){
    body {
        width: 100%;
        }
   .header {
        padding-left: 20px;
        padding-right: 20px;
   }
   .block1 img {
        width: 50%;
        height: 50%;
   }
   .text {
        padding-left: 46px;
        padding-top: 56px;
   }
   .block1 img {
        margin-left: 488px;
    }
    .stroka1 {
        font-size: 40px;
    }
    .stroka2 {
        font-size: 35px;
    }
    .stroka3 {
        font-size: 67px;
    }
    .vid {
            font-size: 16.83px;
    }
    button {
        height: 80px;
        width: 230px;
        font-size: 32.14px;
        margin-top: 85px;
    }
  
    .footer img{
        width: 100%;
    }
    .block2 {
        padding-right: 35px;
        width: 100%;
      
    }
    .punkts {
           font-size: 17px;
    }
    .block2 >img {
        width: 45%;
        height: 45%;
    }
    h3 {
        font-size: 20px;
    }
    .avia, .avto, .doc, .box {
        width: 40%;
    }
    .perevozka {
        margin-bottom: 60px;
    }
    .block3 {
        padding-right: 35px;
        width: 100%;
      
    }
     .block3 >img {
        width: 45%;
        height: 45%;
    }
    .info {
        padding-top: 70px;
        padding-bottom: 70px;
        font-size: 17px;
    }
    .ponimaem {
        margin-top: 50px;
    }
    .block4 {
        padding-right: 35px;
        justify-content: space-between;
       width: 100%;
      
    }
    .block4 >img {
        width: 50%;
        height: 50%;
       
    }
    .foto {
        margin-top: 80px;
        margin-bottom: 138px;

   }
   .foto1 {
        flex-direction: column;
   }
   .foto1_1 {
        display: none;
   }
   .otziv {
    margin-left: 155px;
   }
   .otziv2 {
       display: none;
   }
   .button-otziv {
       right: 45px;
   }
   .block6 >img {
        width: 50%;
        height: 50%; 
    }
    .forma {
        flex-direction: column;
    }
    .dop {
    width: 400px;
}
.form1 {
    margin-bottom: 50px;
}
.block7 {
    padding-left: 0px;
    padding-right: 10px;
    width: 100%;
}
.footer {
    width: 100%;
}
.phones {
    margin-left: 30px;
}
.block5 {
    width: 100%;
}
.block6 {
    width: 100%;
}
}
@media (min-width: 768px)and (max-width:991px){

}
@media (max-width: 767px) and (min-width: 480px){

}
@media (max-width: 479px){

}





